<div class="container consultaIngresso mt-5">
    <div class="row align-items-center">
        <div class="col-md-6 text-center">
            <img src="/img/{{show.imagem}}" class="img-fluid rounded" alt="Show show.nome">
        </div>
        <div class="col-md-6">
            <h1>{{show.nome}}</h1>
            <p><strong>Data:</strong> {{show.data}}</p>
            <p><strong>Horário do show:</strong> {{show.horario}}</p>
            <p><strong>Abertura dos portões:</strong> {{show.abertura}}</p>
            <p><strong>Local:</strong> {{show.endereco}}</p>
            <p><strong>Classificação:</strong> {{show.classificacao}}</p>
            <p><strong>Capacidade:</strong> {{show.capacidade}} pessoas</p>
            <p><strong>Valor do ingresso:</strong> R$ {{show.valor}},00</p>

            <a href="#" class="btn btn-success mt-3">Comprar Ingresso</a>
        </div>
    </div>
</div>