<div class="container consultaIngresso mt-5">
    <div class="row align-items-center">
        <div class="col-md-6 text-center">
            <img src="/img/{{show.imagem}}" class="img-fluid rounded" alt="Show show.nome">
        </div>
        <div class="col-md-6">
            <h1>{{show.nome}}</h1>
            <p><h5>Data:</h5> {{show.data}}</p>
            <p><h5>Horário do show:</h5> {{show.horario}}</p>
            <p><h5>Abertura dos portões:</h5> {{show.abertura}}</p>
            <p><h5>Local:</h5> {{show.endereco}}</p>
            <p><h5>Classificação:</h5> {{show.classificacao}}</p>
            <p><h5>Capacidade:</h5> {{show.capacidade}} pessoas</p>
            <p><h5>Valor do ingresso:</h5> R$ {{show.valor}},00</p>

            {{!-- se a pessoa tiver logada --}}
            {{#if usuario}}
           <button type="button" class="btn btn-success">Comprar Ingresso</button>
            {{else}}
           <a href="/usuario/login"> <button type="button" class="btn btn-success">Comprar Ingresso</button></a>
            {{/if}}
        </div>
    </div>
</div>