<h1>Página de Login</h1>

<form method='POST' action='/usuario/altera/{{receita.id}}'>
    <p><label for="id">Identificação da Receita</label></p>
    <p><input type='number' name='id' value="{{receita.id}}" size="30" readonly/></p>

    <p><label for="titulo">Título da Receita</label></p>
    <p><input type='text' name='titulo' value="{{receita.titulo}}" size="60" /></p>

    <p><label for="ingredientes">Ingredientes</label></p>
    <p><textarea rows="5" cols="57" name='ingredientes' value="{{receita.ingredientes}}" ></textarea></p>
    <h5>Digite cada ingrediente em uma nova linha</h5>

    <p><label for="preparo">Modo de Preparo</label></p>
    <p><textarea rows="5" cols="57" name='preparo' value="{{receita.preparo}}"  ></textarea></p>
    <h5>Descreva passo a passo o modo de preparo</h5>

    <p><label for="tempo">Tempo de Preparo(minutos)</label></p>
    <p><input type='number' name='tempo' min = '1' value="{{receita.tempo}}" size="60"  /></p>
    
    <button type="submit">Alterar Receita</button>
</form>

<br>
<a href="/">Voltar</a>