{{#if usuario}}
    <div class="container consulta">
<fieldset>
    <legend>
        Informações Pessoais
    </legend>
    <p><b>Nome: </b> {{usuario.nome}}</p>
    <p><b>cpf: </b> {{usuario.cpf}}</p>
    <p><b>E-mail de cadastro: </b> {{usuario.email}}</p>
    
</fieldset>

<fieldset>
    <legend>
        Dados de Pagamento
    </legend>
    <p><b>Nome do Cartão: </b> {{usuario.nomeCartao}}</p>
    <p><b>Número do Cartão: </b> {{usuario.numero}}</p>
    <p><b>Ano de Validade do Cartão: </b> {{usuario.validade}}</p>
</fieldset>

</div>