<div class="container consulta">
    <h4>Informações Pessoais</h4>
    <p><b>Nome: </b> {{usuario.nome}}</p>
    <p><b>cpf: </b> {{usuario.cpf}}</p>
    <p><b>E-mail de cadastro: </b> {{usuario.email}}</p>

    <h4>Dados de Pagamento</h4>

    <p><b>Nome do Cartão: </b> {{usuario.nomeCartao}}</p>
    <p><b>Número do Cartão: </b> {{usuario.numero}}</p>
    <p><b>Ano de Validade do Cartão: </b> {{usuario.validade}}</p>
    <br>

    <a href="/usuario/altera/{{usuario.cpf}}"><button type="button" class="btn btn-success">Alterar</button></a>

    <a href="/usuario/deleta/{{usuario.cpf}}"><button type="submit" class="btn btn-danger"><i class="bi bi-x-circle"></i>
            Excluir</button></a>

    <a href="/">Voltar</a>
</div>